/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

.music {
  width: 300px;
  height: 200px;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
}

.music .bar {
  width: 12px;
  border-radius: 10px;
  background: #b65252;
  animation: movement 1.5s ease-in-out infinite;
}

@keyframes movement {
  0%, 100%{
      height: 2px;
  }
  50% {
      height: 80px;
  }
}

.music .bar:nth-child(1) {
  background: white;
  animation-delay: 1s;
}
.music .bar:nth-child(2) {
  background: gray;
  animation-delay: .8s;
}
.music .bar:nth-child(3) {
  background: white;
  animation-delay: .6s;
}
.music .bar:nth-child(4) {
  background: gray;
  animation-delay: .4s;
}
.music .bar:nth-child(5) {
  background: white;
  animation-delay: .2s;
}
.music .bar:nth-child(6) {
  background: gray;
  animation-delay: .2s;
}
.music .bar:nth-child(7) {
  background: white;
  animation-delay: .4s;
}
.music .bar:nth-child(8) {
  background: gray;
  animation-delay: .6s;
}
.music .bar:nth-child(9) {
  background: white;
  animation-delay: .8s;
}
.music .bar:nth-child(10) {
  background: gray;
  animation-delay: 1s;
}
